.content {
    width: 640px;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;

    display: grid;
    grid-template-rows: auto 1fr;
}

.product-list {
    padding: 0 8px;
    overflow-y: auto;
}
