.header-bar {
    height: 64px;
    font-size: 16pt;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #3f51b5;
    color: #ffffff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
